aiohttp==3.9.0
aiosignal==1.3.1
asttokens==2.4.1
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
dacite==1.8.1
executing==2.0.1
frozenlist==1.4.0
icecream==2.1.3
idna==3.4
multidict==6.0.4
mysql-connector-python==8.2.0
protobuf==4.21.12
Pygments==2.17.1
python-slugify==8.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
text-unidecode==1.3
tmdb-python==0.0.9
urllib3==2.1.0
yarl==1.9.3
